body {
    background-color: black;
    color: rgb(100, 4, 168);
}

#title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#snapshot {
    margin-top: 500px;
    width: 110px;
    height: 50px;
    color: rgb(100, 4, 168);
    background-color: rgb(152, 152, 152);
    font-weight: bolder;
    border-radius: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}